# Backend
backend/target/
backend/*.class
# CREDENCIALES — NUNCA subir al repo
backend/src/main/resources/application.properties
backend/src/main/resources/application-local.properties

# Frontend
frontend/node_modules/
frontend/.expo/
frontend/dist/
frontend/.env

# General
.DS_Store
*.log
*.err
*.iml
.idea/
.vscode/

# Maven wrapper
backend/.mvn/wrapper/maven-wrapper.jar
